* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: lavender;
  color:black;
}
nav {
  background-color: beige;
  color: #333;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}
section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  background-color: burlywood;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
section h2 {
  color: peru;
  margin-bottom: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
  border: 1px solid beige;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: grey;
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #555;
}
footer {
  text-align: center;
  padding: 1.5rem 0;
  background-color: rgb(58, 97, 58);
  color: burlywood;
  margin-top: 2rem;
}

